@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

p {
    margin: 0;
}

button {
    padding: 8px 24px;
    border-style: none;
    border-radius: 5px;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}


.header {
    background-color: #002a8f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 128px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    gap: 8px;
}

.logo img {
    width: 50px;
}

.callout-section {
    background-color: #002a8f;
    padding: 48px 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px
}

.left-callout {
    padding: 0 64px;
    text-align: left;
    width: 500px;
}

.callout-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.left-callout p {
    color: #ddd;
    font-size: 16px;
    margin: 12px 0;
    margin-top: 4px;
}

.left-callout button {
    background-color: #DA291C ;
    color: white;
    font-weight: 700;
    padding: 8px 48px;
    line-height: 24px;
}

.callout-section img {
    height: 350px;
    border-radius: 5px;
}

.info-section {
    margin-bottom: 64px;
}

.info-text {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: #002a8f;
    padding: 32px 0;

}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 200px;
    border: 3px solid #002a8f;
    border-radius: 5px;
}

.card p {
    text-align: center;
    width: 150px;
    margin-top: 8px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #002a8f;
    font-weight: 300;
}

.author {
    color: #002a8f;
    font-weight: 700;
    text-align: right;
    width: 100%;
}

.call {
    margin: 64px 128px;
    padding: 48px 64px;
    background-color: #DA291C;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    color: #F9FAF8;
}

.call-text {
    font-weight: 700;
    font-size: 18px;
}

.call-left-info p {
    color: #ddd;
}

.call button {
    border: 2px solid #E5E7EB;
    background-color: #DA291C;
    color: #E5E7EB;
    font-weight: 700;
    padding: 2px 32px;
}

.footer {
    background-color: #002a8f;
    color: #E5E7EB;
    text-align: center;
    padding: 32px 0;
}
